body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #222;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  z-index: 1;
  margin: 0 auto;
  height: 40px;
  background-color: cornflowerblue;
  border-radius : 6px;
}

.circle{
  position: absolute;
  top: -25px;
  left: -25px;

  background-color: white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

h2 {
  color: white;
  position: absolute;
  top: 10px;
  margin: 0;
}

span {
  color: white;
  position: absolute;
  top: 40px;
}