body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

/* main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.panel {
  position: fixed;
  top: 0;
  background-color: #222;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel .score{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  justify-self: center;
  color: white;
}

.score h2 {
  margin: 5px;
}

.score span {
  margin-top: 2;
  font-size: x-large;
}

.panel .but{
  flex-grow: 2;
  display: flex;
  justify-content: center;
}

.panel button{
  min-width: 200px;
  height: 40px;
  background-color: cornflowerblue;
  border-radius : 6px;
  margin-right: 300px;
 
}

.board {
  background-color: black;
  position: fixed;
  top: 10vh;
  width: 100vw;
  height: 90vh;

}

.circle{
  position: fixed;
  top: -10px;
  left: -10px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}